<div id="control_panel" style="float:left;width:20%;text-align:left;padding-top:20px">

<div id="directions_panel" style="margin:20px;background-color:#FFEE77;"></div>
</div>

<script>
      var directionsDisplay;
      var directionsService;
      var map;

   function calcRoute() {
          var mapOptions;
 	  directionsService = new google.maps.DirectionsService();
          map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
  <% @rutas.each do |ruta| %>
          directionsDisplay<%=ruta.id%> = new google.maps.DirectionsRenderer();
          directionsDisplay<%=ruta.id%>.setMap(map);
          var start = "<%= ruta.inicio_lat %>,<%= ruta.inicio_long %>";
          var end = "<%= ruta.fin_lat %>,<%= ruta.fin_long %>"
          var waypts = [];
//en este for se agregan las paradas
  <% ruta.parada.each do |parada| %>
waypts.push({location:"<%= parada.latitud %>,<%= parada.longitud %>",stopover:true});
<% end %>
//var request es la variable mas importante ya que en ella se colocan el principio y el final de las rutas ademas de que los waypts que en nuestro caso lo veria como paradas
          var request = {
              origin: start,
              destination: end,
              waypoints: waypts,
              optimizeWaypoints: true,
              travelMode: google.maps.TravelMode.DRIVING
          };
//aque se llama al metodo para dibujar el mapa
          directionsService.route(request, function(response, status) {
              if (status == google.maps.DirectionsStatus.OK) {
                  directionsDisplay<%=ruta.id%>.setDirections(response);
              }
          });
      <% end %>
      }
      function loadScript() {
         var script = document.createElement('script');
         script.type = 'text/javascript';
         script.src = 'https://maps.googleapis.com/maps/api/js?v=3.exp&' +
         'callback=calcRoute';
         document.body.appendChild(script);
      }
      $(document).ready(function () { loadScript() });
</script>
<div id="map-canvas" style="float:left;width:70%;height:100%;"></div>
<div id="left_panel" style="float:left;width:10%;text-align:left;padding-top:20px"></div>
