
<%= form_for(@parada) do |f| %>
  <% if @parada.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@parada.errors.count, "error") %> prohibited this parada from being saved:</h2>

      <ul>
      <% @parada.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :techo %><br>
    <%= f.check_box :techo %>
  </div>
  <div class="field">
    <%= f.label :latitud %><br>
    <%= f.text_field :latitud %>
  </div>
  <div class="field">
    <%= f.label :longitud %><br>
    <%= f.text_field :longitud %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<script>

      var directionsDisplay;
      var directionsService;
      var map;
      var parada ;


   function dibujarParada() {
          var mapOptions;
          var myLatlng = new google.maps.LatLng(<%= @parada.latitud %>,<%= @parada.longitud %>);
          var mapOptions = {
             zoom: 15,
             center: myLatlng
          }
          map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
          parada = new google.maps.Marker({
             position: myLatlng,
             map: map,
             title:"<%= @parada.nombre %>"
           });
      }

      function loadScript() {
         var script = document.createElement('script');
         script.type = 'text/javascript';
         script.src = 'https://maps.googleapis.com/maps/api/js?v=3.exp&' +
         'callback=dibujarParada';
         document.body.appendChild(script);
      }
      $(document).ready(function () { loadScript() });



</script>
