<h1>Editing parada</h1>

<div id="control_panel" style="float:left;width:20%;text-align:left;padding-top:20px">

<%= render 'form' %>
<%= link_to 'Show', @parada %> |
<%= link_to 'Back', paradas_path %>
</div>
<script>

      var directionsDisplay;
      var directionsService;
      var map;
      var parada ;


   function dibujarParada() {
          var mapOptions;
          var myLatlng = new google.maps.LatLng(<%= @parada.latitud %>,<%= @parada.longitud %>);
          var mapOptions = {
             zoom: 15,
             center: myLatlng
          }
          map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
          parada = new google.maps.Marker({
             position: myLatlng,
             map: map,
             draggable:true,
             animation: google.maps.Animation.DROP,
             title:"<%= @parada.nombre %>"
           });
           google.maps.event.addListener(parada, 'click', toggleBounce);
           google.maps.event.addListener(parada, 'dragend', changeCord);
      }

      function loadScript() {
         var script = document.createElement('script');
         script.type = 'text/javascript';
         script.src = 'https://maps.googleapis.com/maps/api/js?v=3.exp&' +
         'callback=dibujarParada';
         document.body.appendChild(script);
      }

      function toggleBounce() {
        if (parada.getAnimation() != null) {
          parada.setAnimation(null);
        } else {
          parada.setAnimation(google.maps.Animation.BOUNCE);
        }
      }

      function changeCord() {
         myLatlng = parada.getPosition();
         document.getElementById("parada_latitud").value = myLatlng.lat();
         document.getElementById("parada_longitud").value = myLatlng.lng();
         alert(myLatlng.lat());
      }

      $(document).ready(function () { loadScript() });

</script>
<div id="map-canvas" style="float:left;width:70%;height:77%;"></div>
<div id="left_panel" style="float:left;width:10%;text-align:left;padding-top:20px"></div>
