<div id="control_panel" style="float:left;width:20%;text-align:left;padding-top:20px">

<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @parada.nombre %>
</p>

<p>
  <strong>Techo:</strong>
  <%= @parada.techo %>
</p>

<p>
  <strong>Latitud:</strong>
  <%= @parada.latitud %>
</p>

<p>
  <strong>Longitud:</strong>
  <%= @parada.longitud %>
</p>

<%= link_to 'Edit', edit_parada_path(@parada) %> |
<%= link_to 'Back', paradas_path %>
</div>

<script>

      var directionsDisplay;
      var directionsService;
      var map;
      var parada ;


   function dibujarParada() {
          var mapOptions;
          var myLatlng = new google.maps.LatLng(<%= @parada.latitud %>,<%= @parada.longitud %>);
          var mapOptions = {
             zoom: 15,
             center: myLatlng
          }
          map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
          parada = new google.maps.Marker({
             position: myLatlng,
             map: map,
             title:"<%= @parada.nombre %>"
           });
      }

      function loadScript() {
         var script = document.createElement('script');
         script.type = 'text/javascript';
         script.src = 'https://maps.googleapis.com/maps/api/js?v=3.exp&' +
         'callback=dibujarParada';
         document.body.appendChild(script);
      }
      $(document).ready(function () { loadScript() });



</script>
<div id="map-canvas" style="float:left;width:70%;height:77%;"></div>
<div id="left_panel" style="float:left;width:10%;text-align:left;padding-top:20px"></div>
