<div id="control_panel" style="float:left;width:20%;text-align:left;padding-top:20px">

<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @parada.nombre %>
</p>

<p>
  <strong>Techo:</strong>
  <%= @parada.techo %>
</p>

<p>
  <strong>Latitud:</strong>
  <%= @parada.latitud %>
</p>

<p>
  <strong>Longitud:</strong>
  <%= @parada.longitud %>
</p>

<%= link_to 'Edit', edit_parada_path(@parada) %> |
<%= link_to 'Back', paradas_path %>
</div>

<div id="map-canvas" style="float:left;width:70%;height:77%;"></div>
<div id="left_panel" style="float:left;width:10%;text-align:left;padding-top:20px"></div>
