<div id= "SingIn">

	<div align="center" style="background-color: rgba(255, 255, 255, 0.7);color:#18344b;width:300px;height:300px;margin-left:500px;z-index:5000">
<img src="/assets/signin.png" height="64" width="64" style="margin-top:10px">

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    
  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true %></div>

  <div><%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>

  <div><%= f.submit "Sign in" %></div>
<% end %>


<%= render "devise/shared/links" %>

<a href="/auth/twitter" class="auth_provider">
      <%= image_tag "https://raw.githubusercontent.com/intridea/authbuttons/master/png/twitter_32.png", :size => "32x32", :alt => "Twitter" %></a>
    <a href="/auth/facebook" class="auth_provider">
      <%= image_tag "https://raw.githubusercontent.com/intridea/authbuttons/master/png/facebook_32.png", :size => "32x32", :alt => "Facebook" %></a>

	</div>
</div>
