<%= form_for(@gps) do |f| %>
  <% if @gps.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gps.errors.count, "error") %> prohibited this gps from being saved:</h2>

      <ul>
      <% @gps.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id_gps %><br>
    <%= f.text_field :id_gps %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
