<p id="notice"><%= notice %></p>

<p>
  <strong>Id gps:</strong>
  <%= @gps.id_gps %>
</p>

<p>
  <strong>Ultima latitud:</strong>
  <%= @gps.ultima_latitud %>
</p>

<p>
  <strong>Ultima logitud:</strong>
  <%= @gps.ultima_logitud %>
</p>

<%= link_to 'Edit', edit_gps_path(@gps) %> |
<%= link_to 'Back', gps_s_path %>
