<!DOCTYPE html>
<html>
<head>
  <title>Bustrack</title>
  <%= stylesheet_link_tag    'welcome','application','token-input',  media: 'all', 'data-turbolinks-track' => true %>
 
  <%= javascript_include_tag 'application', 'jquery.tokeninput', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="pure-menu pure-menu-open pure-menu-horizontal" style="background-color:#424242;height: 32px;">


<ul>
        <li><a href="#">Mi perfil</a></li>
        <% if user_signed_in? %>
        <li>
            <%= current_user.email %>
        </li>
        <li>
            <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
        </li>
          <% else %>
        <li>
              <%= link_to "Sign up", new_user_registration_path %>
        </li>
        <li>
              <%= link_to "Sign in", new_user_session_path %>
        </li>

        <li>
            <%= link_to "admin", "admin/login" %>
        </li>

          <% end %>



</ul>
</div>

<div class="pure-menu pure-menu-open pure-menu-horizontal" >

<div id="logo" style="width:0px; height:0px; z-index:5000"> <img src= "/assets/logo.png" width="90" height="90"> </div> <div style="width:0px; height:0px; z-index:5000; margin-left:150px"><img src= "/assets/slogan.png" width="150" height="52"></div>
    <ul>
	
        <li><a href="welcomes"><font size="4"> Home </font></a></li>
        <li><a href='rutas'><font size="4"> Rutas </font></a></li>
        <li><a href='multiples_rutas'><font size="4"> Rutas Multiples </font></a></li>
		<li><a href='rutas_usuarios'><font size="4"> Agregar Ruta Favorita </font></a></li>
        <li><a href='mapas'><font size="4"> Bustrack </font></a></li>
        <li><a href="#"> <input id="buscador" placeholder="buscar" list="resultadosDelSearch" style="width:120px;heigth:50"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</input> 
																	<datalist id="resultadosDelSearch">
																		<% Ruta.all.each do |parada| %>
																			<option value= <%= parada.nombre %> >
																		<% end %>
																	</datalist>
				</a></li>

    </ul>
</div>

</div>

<%= yield %>

</body>
</html>
