<!DOCTYPE html>
<html>
<head>
  <title>Bustrack</title>
  <link rel="shortcut icon" href="/assets/bus.ico"/>
  
  <%= stylesheet_link_tag    'welcome','application','token-input',  media: 'all', 'data-turbolinks-track' => true %>
 
  <%= javascript_include_tag 'application', 'jquery.tokeninput', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="pure-menu pure-menu-open pure-menu-horizontal" style="height:140px;">


<ul>
        <% if user_signed_in? %>
            <li>
                <a href="#">Mi perfil</a>
            </li>
            <li>
                <a href='rutas_usuarios'>Agregar Favorita</a>
            </li>
            <li>
                <%= current_user.email %>
            </li>
            <li>
                <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
            </li>
        <% else %>
            <% if admin_user_signed_in? %>
              <li>
                <%= current_admin_user.email %>
              </li>
            <li>
                <%= link_to "Admin", "admin/login" %>
            </li>
            <% else %>

                  <li>
                    <%= link_to "Sign up", new_user_registration_path %>
                  </li>
                  <li>
                    <%= link_to "Sign in", new_user_session_path %>
                  </li>

                  <li>
                    <%= link_to "Admin", "admin/login" %>
                  </li>
            <% end %>

        <% end %>



</ul>
<!--</div>-->

<!--<div class="pure-menu pure-menu-open pure-menu-horizontal" >-->

<div id="logo" style="width:0px; height:0px; z-index:5000"> <a href="welcomes"><img src= "/assets/logo.jpg" width="220" height="125"></a> </div> 
    <ul>
	
        <li><a href="welcomes"><font color=#03374f><h2> Home</h></font></a></li>
		<% if admin_user_signed_in? %>
			<li><a href='paradas'><font color=#03374f><h2> Paradas </h></font></a></li>
			<li><a href='buses'><font color=#03374f><h2> Buses </h></font></a></li>
			<li><a href='gps_s'><font color=#03374f><h2> Gps </h></font></a></li>
			<li><a href='mapas'><font color=#03374f><h2> Mapas </h></font></a></li>
			
		<% end %>
        <!--<li><a href='multiples_rutas'><font color=#03374f><h3> Rutas Multiples </h></font></a></li>-->
		<li><a href='rutas'><font color=#03374f><h2> Rutas </h></font></a></li>
        <li><a href='mapas'><font color=#03374f><h2> Bustrack </h></font></a></li>
        <li> <input id="buscador" placeholder="buscar" list="resultadosDelSearch" style="width:120px;heigth:50" > &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</input> 
																	<datalist id="resultadosDelSearch">
																		<% Ruta.all.each do |parada| %>
																			<option value= <%= parada.nombre %> >
																		<% end %>
																	</datalist>

				<script>
					function normalSearch(){
						
					}
				</script>
				</a></li>

    </ul>
</div>

</div>

<%= yield %>

</body>
</html>
