<%= form_for(@ruta) do |f| %>
  <% if @ruta.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ruta.errors.count, "error") %> prohibited this ruta from being saved:</h2>

      <ul>
      <% @ruta.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<% @otras = [] %>
<% @ruta.ruta_parada.each do |ruta_parada| %>
   <% if ruta_parada.tipo == 1 %>
      <% @inicial = ruta_parada.parada%>
   <% elsif ruta_parada.tipo == -1%>
      <% @final = ruta_parada.parada%>
   <% else %>
      <% @otras.push(ruta_parada.parada)%>
   <% end %>
 <% end %>


  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div>
     <%= f.label :parada_inicial %>
     <% if @inicial.nil? %>
        <%= select_tag "parada_inicial", options_from_collection_for_select(Parada.all, 'id', 'nombre'), include_blank: true %>
     <% else %>
        <%= select_tag "parada_inicial", options_from_collection_for_select(Parada.all, 'id', 'nombre',@inicial.id), include_blank: true %>
     <% end %>
  </div>
  <div>
     <%= f.label :parada_final %>
     <% if @final.nil? %>
        <%= select_tag "parada_final", options_from_collection_for_select(Parada.all, 'id', 'nombre'), include_blank: true %>
     <% else %>
        <%= select_tag "parada_final", options_from_collection_for_select(Parada.all, 'id', 'nombre',@final.id), include_blank: true %>
     <% end %>
  </div>
  <div class="field">
    <%= f.label :frecuencia %><br>
    <%= f.text_field :frecuencia %>
  </div>
  <div class="field">
    <%= f.label :precio %><br>
    <%= f.number_field :precio %>
  </div>
  <div class="field">
    <%= f.label :horario %><br>
    <%= f.text_field :horario %>
  </div>
  <div>
     <%= f.label :paradas %>
     <%= select_tag "grupo_paradas", options_from_collection_for_select(Parada.all, 'id', 'nombre',@otras.map{ |r| r.id }), :multiple => true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
