<h1>Listing rutas</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Paradas Inicial</th>
      <th>Paradas Final</th>
      <th>Frecuencia</th>
      <th>Precio</th>
      <th>Horario</th>
      <th>Paradas</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rutas.each do |ruta| %>
      <tr>
        <% @otras = [] %>
        <% @final = nil%>
        <% @inicial = nil%>
        <% ruta.ruta_parada.each do |ruta_parada| %>
           <% if ruta_parada.tipo == 1 %>
              <% @inicial = ruta_parada.parada%>
           <% elsif ruta_parada.tipo == -1%>
              <% @final = ruta_parada.parada%>
           <% else %>
              <% @otras.push(ruta_parada.parada)%>
           <% end %>
        <% end %>
        <td><%= ruta.nombre %></td>
        <td>
        <% if !@inicial.nil?%>
           <%= @inicial.nombre %>
        <% end %>
        </td>
        <td>
        <% if !@final.nil?%>
           <%= @final.nombre %>
        <% end %>
        </td>
        <td><%= ruta.frecuencia %></td>
        <td><%= ruta.precio %></td>
        <td><%= ruta.horario %></td>
	<td>
        <% if !@otras.nil?%>
           <% @otras.each do |parada|%>
              <%= parada.nombre %>-
           <% end %>
        <% end %>
        </td>
        <td><%= link_to 'Show', ruta %></td>
        <td><%= link_to 'Edit', edit_ruta_path(ruta) %></td>
        <td><%= link_to 'Destroy', ruta, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ruta', new_ruta_path %>
