<script src="jquery.js"></script> 
<script> 
    $(loadmap(){
      $("#includedContent").load("show2.html.erb"); 
    });
</script>

<div id= "Rutas">
<br>
<h1 style="color:#f0c224">RUTAS</h1>
<br>
<br>
<br>
<table id= "tablaRuta">
  <tbody>
    <% @rutas.each do |ruta| %>
      <tr>
        <td><%=ruta.nombre%>
            <%= link_to ruta do %>
               <%= image_tag "/assets/bus1.ico"%>
            <% end %></td>
		<% if  admin_user_signed_in? %>
			<td><%= link_to 'Show', ruta %></td>
			<td><%= link_to 'Edit', edit_ruta_path(ruta) %></td>
			<td><%= link_to 'Destroy', ruta, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	 <td><%= link_to 'New Ruta', new_ruta_path %></td>
		<% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

</div>
