<div id="control_panel" style="float:left;width:20%;text-align:left;padding-top:20px">

<p id="notice"><%= notice %></p>

<% @otras = [] %>
<% @ruta.ruta_parada.each do |ruta_parada| %>
   <% if ruta_parada.tipo == 1 %>
      <% @inicial = ruta_parada.parada%>
   <% elsif ruta_parada.tipo == -1%>
      <% @final = ruta_parada.parada%>
   <% else %>
      <% @otras.push(ruta_parada.parada)%>
   <% end %>
<% end %>



<p>
  <strong>Nombre:</strong>
  <%= @ruta.nombre %>
</p>

<p>
  <strong>Frecuencia:</strong>
  <%= @ruta.frecuencia %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @ruta.precio %>
</p>

<p>
  <strong>Horario:</strong>
  <%= @ruta.horario %>
</p>

<p>
  <strong>Parada Inicial:</strong>
  <% if !@inicial.nil?%>
     <%= @inicial.nombre %>
  <% end %>
</p>

<p>
  <strong>Parada Final:</strong>
  <% if !@final.nil?%>
     <%= @final.nombre %>
  <% end %>
</p>

<p>
  <strong>Paradas:</strong>
  <% if !@otras.nil?%>
     <% @otras.each do |parada|%>
        <%= parada.nombre %>-
     <% end %>
  <% end %>
</p>


<%= link_to 'Edit', edit_ruta_path(@ruta) %> |
<%= link_to 'Back', rutas_path %>
<div id="directions_panel" style="margin:20px;background-color:#FFEE77;"></div>
</div>
<script type='text/javascript' src='https://cdn.firebase.com/js/client/1.0.15/firebase.js'></script>
<script>

      var directionsDisplay;
      var directionsService;
      var map;
      var bus = [];


   function calcRoute() {
   <%if !@inicial.nil? and !@final.nil?%>
directionsDisplay = new google.maps.DirectionsRenderer();
          var mapOptions;
  directionsService = new google.maps.DirectionsService();
          map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
          directionsDisplay.setMap(map);
          var start = "<%= @inicial.latitud %>,<%= @inicial.longitud %>";
          var end = "<%= @final.latitud %>,<%= @final.longitud %>"
          var waypts = [];
//en este for se agregan las paradas
  <% @otras.each do |parada| %>
waypts.push({location:"<%= parada.latitud %>,<%= parada.longitud %>",stopover:true});
<% end %>
//var request es la variable mas importante ya que en ella se colocan el principio y el final de las rutas ademas de que los waypts que en nuestro caso lo veria como paradas
          var request = {
              origin: start,
              destination: end,
              waypoints: waypts,
              optimizeWaypoints: true,
              travelMode: google.maps.TravelMode.DRIVING
          };
//aque se llama al metodo para dibujar el mapa
          directionsService.route(request, function(response, status) {
              if (status == google.maps.DirectionsStatus.OK) {
                  directionsDisplay.setDirections(response);
                  var route = response.routes[0];
                  var summaryPanel = document.getElementById('directions_panel');
                  summaryPanel.innerHTML = '';
                  // For each route, display summary information.
                  for (var i = 0; i < route.legs.length; i++) {
                      var routeSegment = i + 1;
                      summaryPanel.innerHTML += '<b>Segmento de ruta: ' + routeSegment + '</b><br>';
                      summaryPanel.innerHTML += route.legs[i].start_address + ' hacia ';
                      summaryPanel.innerHTML += route.legs[i].end_address + '<br>';
                      summaryPanel.innerHTML += route.legs[i].distance.text + '<br><br>';
                  }
              }
          });
          var myLatLng = new google.maps.LatLng(<%= @inicial.latitud %>, <%= @inicial.longitud %>);
          var infowindow = new google.maps.InfoWindow({
             content: 'Frecuencia: <%= @ruta.frecuencia %>\nPrecio: <%= @ruta.precio %>\nHorario: <%= @ruta.horario %>',
             position: myLatLng
           });
           google.maps.event.addListener(map, 'click', function() {
              infowindow.open(map);
              map.setCenter(myLatLng);
           });
<% @gps = [] %>
<% @ruta.bus.each do |bus| %>
   <% @gps.push(bus.gps)%>
           bus[<%= bus.gps.id%>] = new google.maps.Marker({
              position: new google.maps.LatLng(0, 0.<%= bus.gps.id%>),
              map: map,
              title:"<%= bus.placa%>"
           });
<% end %>

      }

      function loadScript() {
         var script = document.createElement('script');
         script.type = 'text/javascript';
         script.src = 'https://maps.googleapis.com/maps/api/js?v=3.exp&' +
         'callback=calcRoute';
         document.body.appendChild(script);
      <% end %>
      }
      $(document).ready(function () { loadScript() });
      var firebaseRef = new Firebase('https://blazing-fire-9075.firebaseio.com');
      firebaseRef.on('child_changed', function(snapshot) {
         var message = snapshot.val();
         var device = message.GpsID;
         var location = message.Location;
         var tokens = location.split(" ");
         var mylat = tokens[0];
         var mylong = tokens[1];
         var myLatlng = new google.maps.LatLng(mylat,mylong);
         switch (device) {
<% @gps.each do |gps| %>
             case '<%=gps.id_gps%>':
                 bus[<%= gps.id%>].setPosition(myLatlng);
                 break;
         }	
<% end %>
      });



</script>
<div id="map-canvas" style="float:left;width:70%;height:100%;"></div>
<div id="left_panel" style="float:left;width:10%;text-align:left;padding-top:20px"></div>
