<%= form_for(@ruta_parada) do |f| %>
  <% if @ruta_parada.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ruta_parada.errors.count, "error") %> prohibited this ruta_parada from being saved:</h2>

      <ul>
      <% @ruta_parada.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tipo %><br>
    <%= f.text_field :tipo %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
