<%= form_for(@rutas) do |f| %>
  <% if @rutas.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rutas.errors.count, "error") %> prohibited this rutas from being saved:</h2>

      <ul>
      <% @rutas.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :Inicio_Latitud %><br>
    <%= f.text_field :Inicio_Latitud %>
  </div>
  <div class="field">
    <%= f.label :Inicio_Longuitud %><br>
    <%= f.text_field :Inicio_Longuitud %>
  </div>
  <div class="field">
    <%= f.label :Fin_Latitud %><br>
    <%= f.text_field :Fin_Latitud %>
  </div>
  <div class="field">
    <%= f.label :Fin_Longuitud %><br>
    <%= f.text_field :Fin_Longuitud %>
  </div>
  <div class="field">
    <%= f.label :Frecuencia %><br>
    <%= f.text_field :Frecuencia %>
  </div>
  <div class="field">
    <%= f.label :Precio %><br>
    <%= f.number_field :Precio %>
  </div>
  <div class="field">
    <%= f.label :Horario %><br>
    <%= f.text_field :Horario %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
